.single__step__item{
    background: black;
    border-radius: 5px;
    padding: 30px;
    /* text-align: center; */

}
.step__title{
    color:white;
}
.step__item__content h5 a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.single__step__item span i{
    color: white;
    padding: 20px;
    font-size: 1.4rem;
    background: #5142FC;
    border-radius: 5px;
}

.step__item__content{
    margin-top: 20px !important;
}

@media only screen and (max-width:992px) {

    .step__item__content h5 a{
        font-size: 1rem;
    }
    .single__step__item{
        font-size: 0.8rem;
        line-height:25px ;
    }
    
}