.single__nft-img {
    border-radius: 10px;
    /* width: 500px; */
    height: 500px;
}
.single__nft-seen span i{
    color: white;
    padding: 5px;
    background: black;
    border-radius: 50px;
     
}

.single__nft-seen span ,
 .single__nft-more span {
    color: white;
    font-size: 0.8rem;
}
.single__nft-more span i{
    background: black;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;

}

.nft__creator{
    background: rgb(39, 36, 36);
    padding: 15px;
    border-radius: 7px;
    width: 50%;
}
.creator__img{
    width: 60px;

}

.creator__detail p{
    font-size: .7rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}
.creator__detail h6{
    color: white;
    margin-bottom: 0;
    font-weight: 500;
}
.singleNft-btn{
    padding: 8px 25px;
    background: #5142FC;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleNft-btn a{
    text-decoration: none;
    color: white;
    font-size: 1rem;

}
.singleNft-btn:hover{
    background: rgb(236, 2, 236);
}
.singleNft-btn:hover a,i{
    color: white;
}
.singleNft-btn i{
color: white;
}
.singleNft-btn:hover i{
    color: white;
}

@media only screen and (max-width:991px){
    .single__nft__content h2{
        font-size: 1.3rem;
    }
    .single__nft__content{
        font-size: 0.8rem;
        line-height: 28px;
    }
    .nft__creator{
        width: 100%;
    }
    .singleNft-btn{
        font-size:0.7rem;
    }
}

@media only screen and (max-width:576px){
.single__nft__content h2{
    margin-top: 15px;

}

}


