.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 11111111;

}
.header__shrink{
    background: black;
    box-shadow: 3px 3px 6px -3px violet;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}
.nav__item a{
    text-decoration: none;
    color: white;
}
.nav__item a:hover{
    color: white;

}
.active{
    color: rgb(255, 0, 242) !important;
}
.logo h2{
    background:linear-gradient(-45deg,white,black,blue,orange);
    background-size: 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: rgba(109, 252, 73, 0.993);
}

.nav__right .btn{
    padding: 7px 20px;
    border:1px solid purple;
    border-radius: 50px;
}
.nav__right .btn:hover{
    padding: 7px 20px;
    border-color:1px solid rgb(27, 253, 121);
    border-radius: 50px;
}
.nav__right .btn a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    
}
.nav__right .btn span i{
    color: white;
}
.nav__right .btn a:hover{
   color: white; 
   border-color: greenyellow;
}
.mobile__menu{
    color: white;
    font-size: 1.3rem;
    display: none;
}

@media only screen and (max-width:768px){
 
.nav__menu{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(rgb(13, 2, 34));
    z-index: 2222222;
}
.nav__list{
    position:absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;


}

}

