.seller__section-title h3{
color: white;
}
.seller__img{
    width: 80px;
    height:80px;
    /* border: 2px solid blueviolet; */
    
}
.seller__content h6{
    font-size: 0.8rem;
    color: white;
}