@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #14141f !important;
  font-family: 'Poppins', sans-serif;
}

h1,h2{
  color: white;
  font-weight: 500;
  font-size: 2rem;
}

p{
  font-weight: 400;
  font-size: 1rem;
  color: white;
  opacity: 85%;
  line-height: 35px;

}
a{
  text-decoration: none;
  color: unset;

}
a:hover{
  color:unset;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

section,footer{
  padding: 60 0px;
}